<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vazk.calculator">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.vazk.ncalc.CalcApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PrincipalMenu"></activity>
        <activity
            android:name="com.vazk.ncalc.calculator.BasicCalculatorActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALCULATOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vazk.ncalc.unitconverter.UnitCategoryActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_unit_converter_acitvity"
            android:launchMode="singleTask" />
        <activity android:name="com.vazk.ncalc.unitconverter.ConverterActivity" />
        <activity
            android:name="com.vazk.ncalc.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask" />
        <activity
            android:name="com.vazk.ncalc.geom2d.GeometryDescartesActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_geometry"
            android:launchMode="singleTask" />
        <activity
            android:name="com.vazk.ncalc.calculator.LogicCalculatorActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.vazk.ncalc.matrix.MatrixCalculatorActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_matrix_calculator"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".symja.activities.SolveEquationActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.SimplifyExpressionActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.FactorExpressionActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.DerivativeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.ExpandAllExpressionActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.vazk.ncalc.graph.GraphActivity"
            android:label="@string/title_activity_graph" />
        <activity
            android:name="com.vazk.ncalc.graph.GraphAddFunction"
            android:label="@string/add_function"
            android:launchMode="singleTask" />
        <activity
            android:name=".history.HistoryActivity"
            android:label="@string/history"
            android:launchMode="singleTask" />
        <activity
            android:name="com.vazk.ncalc.systemequations.SystemEquationActivity"
            android:label="@string/solve_system_equation"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.LimitActivity"
            android:label="@string/limit"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.IntegrateActivity"
            android:label="@string/integrate"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.PrimitiveActivity"
            android:label="@string/primitive"
            android:launchMode="singleTask" />
        <activity android:name="com.vazk.ncalc.document.info.InfoActivity" />
        <activity
            android:name=".symja.activities.FactorPrimeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.PermutationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.ModuleActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.TrigActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".symja.activities.NumberActivity"
            android:launchMode="singleTask" />
        <activity android:name=".symja.activities.PiActivity" />
        <activity android:name="com.vazk.ncalc.document.MarkdownDocumentActivity" />
        <activity
            android:name=".symja.activities.IdeActivity"
            android:label="@string/ide_mode" />
        <activity android:name="com.vazk.ncalc.document.MarkdownListDocumentActivity" />
    </application>

</manifest>